.loginArea{
    margin-top: 150px;
}

input{
   border-radius: 10px;
   display: block;
}

label{
    font-size: 150%
}

.inputArea{
    width: 500px;
    height: 40px;
}

#loginUser{
    font-size: 150%;
    background-color: black;
    color: orange;
    width: 75px;
    margin-top: 5pxpx;
    border-radius: 5px
}