.ml7 {
	position: relative;
	font-weight: 900;
	font-size: 3.7em;
}
.ml7 .text-wrapper {
	position: relative;
	display: inline-block;
	padding-top: 0.2em;
	padding-right: 0.05em;
	padding-bottom: 0.1em;
	overflow: hidden;
}
.ml7 .letter {
	transform-origin: 0 100%;
	display: inline-block;
	line-height: 1em;
}

.moving-letters {
	background-color: rgb(238, 238, 238);
	text-align: center;
	padding: 50px 0px 50px 0px;
}

.letter {
	color: #ffbf00;
	font-family: 'Oleo Script', cursive;
	font-size: 50px;
}

@media screen and (max-width: 600px)
{
	.letter {
		font-size: 30px;
	}

	.moving-letters {
		background-color: black;
		text-align: center;
		padding: 10px 0px 10px 0px;
	}
}
